
## eclipse-files
.classpath
.project
.settings/
bin/

## gradle-files
.gradle/
build/

## files for local testing
# MangaCtrl
MangaCtrl/downloader.txt
MangaCtrl/download/
MangaCtrl/log/
MangaCtrl/folderwatch/
MangaCtrl/additionalHoster.txt
# MangaLib
MangaLib/src/main/resources/de/herrlock/manga/http/background.jpg
MangaLib/src/main/resources/de/herrlock/manga/http/jquery.js
MangaLib/log/
MangaLib/additionalHoster.txt
