
## eclipse-files
.classpath
.project
.settings/
bin/

## gradle-files
.gradle/
build/
/gradle.properties

## files for local testing
# All projects
/downloader.txt
/Manga*/downloader.txt
/additionalHoster.txt
/Manga*/additionalHoster.txt
/download/
/Manga*/download/
/log/
/Manga*/log/
/folderwatch/
/Manga*/folderwatch/
/tomcat/
/Manga*/tomcat/
/temp/
/Manga*/temp/
# MangaCtrl

# MangaLib
MangaLib/src/main/resources/de/herrlock/manga/http/background.jpg
MangaLib/src/main/resources/de/herrlock/manga/http/jquery.js
MangaLib/testFolder