.classpath
.project
.gradle/
.settings/
bin/
build/

MangaCtrl/downloader.txt
MangaCtrl/download/
MangaCtrl/log/
MangaCtrl/folderwatch/

MangaLib/src/main/resources/de/herrlock/manga/http/background.jpg
MangaLib/src/main/resources/de/herrlock/manga/http/jquery.js
