body {
    background-color: #000;
    margin: 0em;
    padding: 1em;
}

h1 {
    color: #f00;
    font-weight: normal;
    text-decoration: underline;
}

h2 {
    color: #f00;
    font-weight: normal;
}

img.fullwidth {
    width: 200px;
}

img.normalwidth {
    width: 150px;
}

@media (min-width: 400px) {
	img.fullwidth {
	    width: 340px;
	}
	img.normalwidth {
	    width: 260px;
	}
}

@media (min-width: 600px) {
	img.fullwidth {
	    width: 540px;
	}
	img.normalwidth {
	    width: 500px;
	}
}

@media (min-width: 784px) {
	img.fullwidth {
	    width: 730px;
	}
	img.normalwidth {
	    width: 640px;
	}
}

@media (min-width: 1300px) {
	img.fullwidth {
	    width: 1100px;
	}
	img.normalwidth {
	    width: 800px;
	}
}

hr.separator {
    color: #f00;
    background-color: #f00;
    height: 5px;
    border: none;
    border-radius: 2px;
}

a {
    text-decoration: none;
}

a.whitelink:link {
    color: white;
}

a.whitelink:visited {
    color: white;
}

a.whitelink:hover {
    color: black;
    background-color: white;
}

a.hidelink:link {
    color: grey;
}

a.hidelink:visited {
    color: grey;
}

a.hidelink:hover {
    color: white;
    background-color: black;
    border: 1px red solid;
}

#bandindex {
    text-align: right;
}

#bandindex a {
    color: white;
}

#leftdiv {
    float: left;
}

ul.leftList {
    list-style-type: none;
    padding-left: 8px;
    margin: 0px;
}

#rightdiv {
    margin-left: 1em;
    float: left;
}

div.center {
    text-align: center;
}