<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="de.herrlock.manga.ui.log,de.herrlock.log4j2.filter" status="INFO">
	<Properties>
		<Property name="liveLayout">%m%n</Property>
		<Property name="patternLayout">%d{HH:mm:ss.SSS} [%t] %-5p %c{1.}.%M - %m%n</Property>
		<Property name="patternDateLayout">%d{yyyy-MM-dd} - ${patternLayout}</Property>
	</Properties>
	<Appenders>
		<RollingRandomAccessFile name="FileTrace" fileName="log/trace.log" filePattern="log/archive/trace-%i.log.gz">
			<PatternLayout pattern="${patternDateLayout}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="1 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="ApacheLogger" fileName="log/apache.log" filePattern="log/archive/apache-%i.log.gz">
			<PatternLayout pattern="${patternDateLayout}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="1 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>
		<Console name="ConsoleLogger" target="SYSTEM_OUT">
			<PatternLayout pattern="${liveLayout}" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.apache.http" level="DEBUG" additivity="false">
			<AppenderRef ref="ApacheLogger" />
		</Logger>
		<Logger name="org.apache.http.wire" level="INFO" additivity="false">
			<AppenderRef ref="ApacheLogger" />
		</Logger>
		
		<Logger name="org.eclipse.jetty" level="DEBUG">
			<AppenderRef ref="FileTrace" />
		</Logger>
		<Logger name="org.apache" level="DEBUG" additivity="false">
			<AppenderRef ref="FileTrace" />
		</Logger>
		<Logger name="de.herrlock" level="TRACE">
			<AppenderRef ref="FileTrace" />
		</Logger>
		
		<Root level="INFO">
			<AppenderRef ref="ConsoleLogger">
				<LevelFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
			</AppenderRef>
		</Root>
	</Loggers>

</Configuration>