
.text {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.gridpane {
	-fx-hgap: 16;
	-fx-vgap: 8;
}

.text-field .isEmpty {
	-fx-text-box-border: red;
	-fx-focus-color: red;
}

.padding8 {
	-fx-padding: 8px;
}

.padding16 {
	-fx-padding: 16px;
}

.bp-top, .bp-right, .bp-center, .bp-bottom {
	-fx-background-color: #f0f0f0;
}

/* Copied from JMetro light-theme, was commented out in the jar*/
.tooltip {
	-fx-background-color: white;
	-fx-background-insets: 0;
	-fx-background-radius: 0 0 0 0;
	-fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
	-fx-effect: dropshadow( one-pass-box , #808080 , 5, 0.0 , 0 , 0 );
	-fx-font-family: "Segoe UI Semilight", "Segoe UI Light", "Segoe UI", Helvetica, Arial, sans-serif;
	-fx-text-fill: #949494;
	-fx-cursor: none !important;
}

.page-corner {
	-fx-padding: 4.5 4.5 4.5 4.5;
	-fx-background-color: transparent;
	-fx-shape: null;
	-fx-effect: null;
}

