
.text {
	-fx-font-family: sans-serif;
}

.gridpane {
	-fx-hgap: 16;
	-fx-vgap: 8;
}

.text-field .isEmpty {
	-fx-text-box-border: red;
	-fx-focus-color: red;
}

.padding8 {
	-fx-padding: 8px;
}

.padding16 {
	-fx-padding: 16px;
}

.bp-top {
	-fx-background-color: #f99;
}

.bp-right {
	-fx-background-color: #ff9;
}

.bp-center {
	-fx-background-color: #ccc;
}

.bp-bottom {
	-fx-background-color: #9f9;
}
