
.text {
	-fx-font-family: sans-serif;
}

.gridpane {
	-fx-hgap: 16;
	-fx-vgap: 8;
}

.text-field .isEmpty {
	-fx-text-box-border: red;
	-fx-focus-color: red;
}

.padding8 {
	-fx-padding: 8px;
}

.padding16 {
	-fx-padding: 16px;
}

.magenta {
	-fx-background-color: #f9f;
}

.red {
	-fx-background-color: #f99;
}

.yellow {
	-fx-background-color: #ff9;
}

.green {
	-fx-background-color: #9f9;
}

.cyan {
	-fx-background-color: #9ff;
}

.blue {
	-fx-background-color: #99f;
}

.grey {
	-fx-background-color: #ccc;
}